@media (max-width: 1000px){
    #page-landing{
        margin: 50px;
    }
}

@media (max-width: 964px){
    #page-landing{
        margin: 50px;
    }

    .logo-container{
        margin-top: 100px;
    }

    .logo-container h2{
        font-size: 24px;
    }

    .buttons-container{
        margin-top: 114px;

    }

}



@media (max-width: 800px){
    .logo-container img{
        width: 150px;
        height: 150px;
        
    }

    .buttons-container{
        justify-content: space-between;
        margin-bottom: 60px;

    }

    .logo-container h2{
        font-size: 20px;
        line-height: 24px;
    }
    .buttons-container{
        margin-top: 80px;

    }
}



@media (max-width: 700px){
    #page-landing{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 300px;
    }

    .logo-container h2{
        text-align: center;
        font-size: 26px;
        line-height: 30px;


    }
}

@media (max-width: 600px){

    #page-landing {
        margin-bottom: 200px;
    }

    .buttons-container{
        flex-flow: column;
        justify-content: center;
        align-content: center;
        
    }

    .buttons-container a{
        width: 400px;
    }

    .buttons-container a.help{
        margin-top: 30px;
    }


    .buttons-container a:first-child{
        margin-right: 0px;
    }

    .teacher-image {
        display: none;
    }
}

@media (max-width: 460px){
    .logo-container h2{
        font-size: 20px;
        line-height: 26px;
    }
    
    .buttons-container a{
        width: 300px;
    }
}

@media (max-width: 350px){
    #page-landing{
        margin: 0 30px;

    }

    .logo-container h2{
        font-size: 20px;
        line-height: 23px;
        margin: 30px 0;
    }
   
    .logo-container img{
        width: 200px;
        margin-bottom: 0px;
    }

    .buttons-container{
        margin-top: 20px;
    }

    .buttons-container a{
        width: 230px;
        height: 80px;
    }

    .buttons-container a img{
        width: 20px;
    }


}