@media(max-width:970px){
    #header-bottom .header-bottom-content{
        margin: 0 100px;
    }
}

@media(max-width:550px){
    #header-bottom .header-bottom-content {
        flex-direction: column;
    }
    #header-bottom .header-bottom-content h2{
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        height: auto;
        width: 100%;
    }

    #header-bottom .header-bottom-content h4{
        margin-top: 10px;
    }

    #header-bottom .header-bottom-content{
        padding-top: 60px;
    }

    #header-bottom .header-bottom-content{
        margin: 0 40px;
    }
}