
:root{
    --image-chat-width: 44px
}

#user-chat{
    position: relative;
    margin: calc(var(--image-chat-width) / 6.5) 0;
    width: 100%;
}

#user-chat .user {
    width: var(--image-chat-width);
    height: var(--image-chat-width);
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color-grey-light);
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
}


#user-chat .user:hover{
    border-radius: 35%;
}


#user-chat .user a img{
    width: 100%;
    height: 100%;
    align-self: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

#user-chat .notifications{

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: calc(var(--image-chat-width) / 2.1);
    min-height: calc(var(--image-chat-width) / 2.1);;

    max-width: calc(var(--image-chat-width) / 2);


    width: auto;
    border-radius: 50%;
    background-color: #FF4040;
    position: absolute;
    height: auto;
    bottom: calc(var(--image-chat-width) / -13);
    right: calc(var(--image-chat-width) / -13);

    padding: calc(var(--image-chat-width) / 16.1) calc((var(--image-chat-width) / 16.1) / 2);
    border: calc(var(--image-chat-width) / 21.19) solid var(--color-background-hover);

}

#user-chat .notifications span{
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: calc(var(--image-chat-width) / 5.4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user-chat .selected{
    width: 3px;
    height: calc(var(--image-chat-width));
    background-color: var(--color-green);
    border-radius: 0 calc(var(--image-chat-width) / 16.1) calc(var(--image-chat-width) / 16.1) 0 ;
    position: absolute;
    left: -14px;
    overflow: hidden;
    align-self: center;
}