#subject-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
}
#subject-page .topic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}