#option .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    height: 140px;
    background-color: var(--color-primary);
    border-radius: 8px;
    margin: 18px;
    cursor: pointer;
}

#option .box img{
    width: 50px;
    margin-bottom: 8px;   
}

#option .box h4{
    width: 104px;
    height: 60px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
}