#subject{
    width: 100%;
    height: auto;
}


#subject .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #6BDC92;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 3px 10px;

}

#subject .box .circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #6BDC92;
}

#subject .box h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    color: #6BDC92;

}