#subject{
    width: auto;
    height: auto;
}


#subject .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 3px 10px;

}

#subject .box .circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

#subject .box h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;


}