@media not all and (max-width: 550px) {
    .menu-item{
        display: none;
    }
}



@media (max-width:550px) {
    header.header{
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 0;
       padding: 10%;
       height: 100px;        
       border-radius: 0 0 45px 45px;
       transition-duration: 0.3s;
    }
    
    .menu-item{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
       padding: 0;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       padding: 32px 10%;
    }

    header.header .menu-toggle-back{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.header .menu-toggle-back img{
        width: 60px;
    }

    header.header .header-content{
        display: none;
    }
    
    .menu-item
    .div1,
    .div2,
    .div3{
        background-color: var(--color-green);
        height: 5px;
        margin-bottom: 6px;
        width: 100%;
        border-radius: 2px;
        transition-duration: 0.3s ;
        
    }

    .menu-item .menu-toggle-header{
        padding: 2px;
        width: 40px;
        height: auto;
        right: 0;

    }

    
    /* full screen */

    header.header.on{
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:0;
        left: 0;
        background-color: var(--color-background-hover);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        border-radius: 0 0 45px 45px;
    }

    header.header.on .header-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 60%;
    }
    
    header.header.on .header-content .back{
        display: none;
    }

   /* header.header.on .menu-item{
       
    }*/
    

    header.header.on .menu-toggle-header .div1{
        transform: rotate(45deg)  translate(7px, 7px);
    }
   
    header.header.on .menu-toggle-header .div2{
        opacity: 0;
    }

    header.header.on .menu-toggle-header .div3{
        transform: rotate(-45deg)  translate(7px, -9px);
    }


    header.header.on .user{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    header.header.on .user .user-img{
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: var(--color-grey-light);
        margin-bottom: 10px;
        cursor: pointer;
    }
    header.header.on .user .user-img img{
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: var(--color-grey-light);
        margin-bottom: 10px;
    }
    header.header.on .user h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        
    }
}