header.header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--color-background-hover);
    width: 100vw;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;    
    flex-direction: column;
    z-index: 10;
}

.header .header-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 80%;
}

header.header .user{
    display: none;
}
.header .header-content .title h1{
    font-family: Archivo, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

.header .header-content .back img{
    width: 60px;
}



.header .header-content .logout{
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
}